
<div class="flex justify-content-center">
    <p-sidebar class="p-sidebar" [visible]="true" [showCloseIcon]="false" [modal]="false" [style]="{ 'max-width': '250px', 'background-color': '#252525' }">
        <ng-template pTemplate="header">
            <div>
                <div class="row">
                    <div class="col text-center">
                        <p-image class="center-image" src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" height="100" width="100"></p-image>
                    </div>
                </div>
                <h2 class="text-white">Hola César!</h2>
            </div>
        </ng-template>

        <p-divider></p-divider>

        <ng-template pTemplate="content">
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        <a routerLink="/dashboard/inicio" [class.active]="activeItem === 1" (click)="activeItem = 1" class="list-group-item list-group-item-action my-2" aria-current="true">
                          Inicio
                        </a>
                        <a routerLink="/dashboard/mis-pedidos" [class.active]="activeItem === 2" (click)="activeItem = 2" class="list-group-item list-group-item-action">
                            Mis Pedidos
                        </a>
                      </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">Footer Content</ng-template>
    </p-sidebar>
    <!-- <p-button (click)="sidebarVisible = !sidebarVisible" icon="pi pi-arrow-right"></p-button> -->
</div>